#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav button {
  margin-right: 0.5rem;
}

.App.light {
  background-color: #ffffff;
  color: #000000;
}

.App.dark {
  background-color: #242424;
  color: #ffffff;
}

.preview {
  width: 100%;
  margin-top: 0.5rem;
}

.App.light .preview {
  background-color: #f9f9f9;
}

.App.dark .preview {
  background-color: #333333;
}
